@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 62.5%;
  text-align: center;
}

body {
  padding: 3rem;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
  padding-block: 1.8rem;
  letter-spacing: 0.15px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.copy-200,
.copy-400,
.copy-600 {
  font-size: 1.6rem;
  color: hsl(201deg, 11%, 66%);
  letter-spacing: 0.15px;
  line-height: 2rem;
  padding-block: 1.8rem;
}

.dl-link {
  font-family: "Bai Jamjuree", sans-serif;
  width: 100%;
  margin: 0.9rem 0rem;
  padding: 1.5rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  border-radius: 6rem;
  box-shadow: -10px 10px 20px hsl(201deg, 11%, 66%);
  cursor: pointer;
}

.dl-link-ios {
  background-color: hsl(171deg, 66%, 44%);
}

.dl-link-mac {
  background-color: hsl(233deg, 100%, 69%);
}

header,
.snippets,
.access,
.workflow,
.clipboard,
footer {
  padding-block: 5rem;
}

.snippets__img img {
  width: 100%;
  padding-block: 2rem;
}

.access img {
  width: 100%;
  padding-block: 2rem;
}

.workflow__examples {
  padding-block: 2rem;
}
.workflow__example {
  padding-block: 2rem;
}

.companies {
  padding-block: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.companies img {
  width: 50%;
  padding-block: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo img {
  width: 30%;
  padding-block: 2rem;
}
.footer__nav li {
  padding-block: 2rem;
  font-size: 1.6rem;
}
.footer__nav li:hover {
  cursor: pointer;
  color: hsl(171deg, 66%, 44%);
}
.footer__social-icons ul {
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer__social-icons ul li i {
  font-size: 2.5rem;
  width: 10rem;
  padding-block: 2rem;
  cursor: pointer;
}
.footer__social-icons ul li i:hover {
  color: hsl(171deg, 66%, 44%);
}
.footer__attribution a {
  text-decoration: none;
  color: hsl(233deg, 100%, 69%);
}
.footer__attribution a:hover {
  color: hsl(171deg, 66%, 44%);
}

@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem 0;
    padding-inline: min(15rem, 11vw);
    background-image: url(../images/bg-header-desktop.png);
  }

  h1 {
    font-size: 4.4rem;
    letter-spacing: 0.15px;
  }

  h2 {
    font-size: 3.6rem;
    letter-spacing: -0.63px;
  }

  h3 {
    font-size: 2.4rem;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .copy-200,
.copy-400,
.copy-600 {
    line-height: 30px;
  }

  .copy-200 {
    font-size: 1.6rem;
  }

  .copy-400 {
    font-size: 1.8rem;
  }

  .copy-600 {
    font-size: 2rem;
  }

  .dl-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3.8rem 0.7rem;
    padding: 2rem 3rem;
  }

  header,
.access,
.snippets__copy,
.clipboard,
.footer__content {
    padding-inline: min(22rem, 14vw);
  }

  header {
    width: 100%;
  }
  header img {
    padding-block: 5.2rem;
  }

  .snippets__info {
    text-align: left;
    display: flex;
  }
  .snippets__img img {
    width: 135%;
    margin-left: -35%;
    padding-block: 2.4rem;
  }
  .snippets__bullets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: min(6rem, 5vw);
  }

  .workflow__examples {
    display: flex;
    justify-content: space-between;
  }
  .workflow__examples div {
    width: 31%;
  }
  .workflow__examples div h3 {
    text-align: center;
  }

  .companies {
    flex-direction: row;
  }
  .companies img {
    width: 50%;
    padding-inline: 4.4rem;
  }

  .footer {
    padding: 1rem;
    background-color: hsl(201deg, 11%, 66%);
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    margin-left: -15rem;
  }
  .footer__nav ul li {
    padding: 1rem;
  }
  .footer__social-icons ul li i {
    font-size: 2.4rem;
    width: 5rem;
  }
  .footer__attribution {
    padding-block: 1rem;
  }
}/*# sourceMappingURL=style.css.map */